<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=server;Initial Catalog=DZRZ_DB;Persist Security Info=True;User ID=sa;Password=sa2005" providerName="System.Data.SqlClient" />
    <add name="TitleString" connectionString="电子日志系统2.1" providerName="System.Data.SqlClient" />
    <add name="Server_IP" connectionString="http://127.0.0.1:8098" providerName="System.Data.SqlClient" />
    <add name="GSWX_IP" connectionString="http://gswx.henangis.com:8001" providerName="System.Data.SqlClient" />
    <add name="MKT" connectionString="WXMAPMKT" providerName="System.Data.SqlClient" />
    <add name="MAPPATH" connectionString="E:\MapCache\XYZ\WXMAPMKT\" providerName="System.Data.SqlClient" />
    <add name="DATAIP" connectionString="http://61.163.107.12:9008" providerName="System.Data.SqlClient" />
    <add name="DATAKEY" connectionString="kg1006yj0916wx5200621aart562xx52" providerName="System.Data.SqlClient" />
    <add name="ConnToPOSTGIS" connectionString="SERVER=192.168.0.200;DATABASE=gswxmap;USERID=postgres;PASSWORD=postgres;PORT=5432" providerName="System.Data.SqlClient" />
    <add name="XIAOTU" connectionString="&amp;S=1600000&amp;W=1200&amp;H=900&amp;L=12243889.239&amp;B=3640417.107&amp;R=13023189.654&amp;T=4425777.547" providerName="System.Data.SqlClient" />
    <add name="DATU" connectionString="&amp;S=800000&amp;W=2500&amp;H=2388&amp;L=12243889.239&amp;B=3640417.107&amp;R=13023189.654&amp;T=4425777.547" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <clear />
  </appSettings>
	<system.web>
    <pages validateRequest="false" />
    <compilation targetFramework="4.0" debug="true" />
    <httpRuntime requestValidationMode="2.0" />    
		<sessionState mode="StateServer" timeout="600"></sessionState>
    <customErrors mode="RemoteOnly" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.aspx" />
                <add value="wd_login.aspx" />
                <add value="mobMap.aspx" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
