<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=.;Initial Catalog=WXCX_DB;Persist Security Info=True;User ID=sa;Password=test" providerName="System.Data.SqlClient" />
    <add name="TitleString" connectionString="河南省高速公路收费站管制地图" providerName="System.Data.SqlClient" />
    <add name="SERVER_IP" connectionString="http://wxgis.henangis.com/api.aspx" providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <appSettings>
    <clear />
  </appSettings>

  <system.web>
    <pages validateRequest="false" />
    <compilation targetFramework="4.0" debug="true" />
    <httpRuntime requestValidationMode="2.0" />
    <sessionState mode="StateServer" timeout="600"></sessionState>
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
